/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/pointing.h>
#define DEFAULT 0
#define LOWER   1
#define RAISE   2
#define GAME    3
#define MOUSE   4

&lt {
    tapping-term-ms = <200>;
    flavor = "tap-preferred";
};

&mt {
    tapping-term-ms = <200>;
    flavor = "tap-preferred";
};

&caps_word {
    continue-list = <UNDERSCORE LSHFT MINUS BACKSPACE>;
    mods = <(MOD_LSFT)>;
};

/ {
        combos {
            compatible = "zmk,combos";
            combo_esc {
                timeout-ms = <100>; 
                key-positions = <19 20>; 
                bindings = <&kp ESC>;
                layers = <0>;
            };
            combo_game_mode {
                timeout-ms = <70>; 
                key-positions = <19 20 21 22>; 
                bindings = <&tog GAME>;
                layers = <0 3>;
            };
        };

        keymap {
                compatible = "zmk,keymap";

                default_layer {
                        bindings = <
        &kp LBKT  &kp Q         &kp W       &kp E      &kp R      &kp T        &kp Y  &kp U       &kp I      &kp O       &kp P          &kp RBKT
        &caps_word &mt LGUI A  &mt LALT S &mt LCTRL D &mt LSHIFT F &lt MOUSE G        &kp H  &mt RSHIFT J  &mt RCTRL K &mt RALT L &mt RGUI SEMI   &kp SQT
        &kp MINUS  &kp Z         &kp X       &kp C      &kp V      &kp B        &kp N  &kp M       &kp COMMA  &kp DOT     &kp FSLH       &kp EQUAL
                                 &kp GRAVE &lt RAISE TAB &lt LOWER SPACE        &lt LOWER RET &kp BSPC &kp BSLH
                        >;
                };

                lower_layer {
                        bindings = <
   &trans     &kp EXCL &kp AT  &kp HASH  &kp DLLR  &kp PRCNT    &kp CARET  &kp AMPS &kp ASTRK &kp LPAR  &kp RPAR  &trans
   &kp SPACE     &mt LGUI N1   &mt LALT N2  &mt LCRTL N3    &mt LSHIFT N4    &kp N5       &mt RSHIFT N6     &mt RCTRL N7   &mt RALT N8    &mt RGUI N9    &kp N0    &trans
   &trans     &none    &none   &none     &kp LBRC  &kp LBKT     &kp RBKT   &kp RBRC &trans    &trans    &trans    &trans
                            &kp RAISE    &trans    &kp SPACE    &kp RET  &trans  &sl RAISE
                        >;
                };

                raise_layer {
                        bindings = <
   &kp  F1   &kp F2   &kp F3         &kp F4       &kp F5  &kp F6           &kp F7   &kp F8   &kp F9  &kp F10      &kp F11 &kp F12
   &none     &none    &none          &none        &none   &none        &kp LEFT &kp DOWN &kp UP  &kp RIGHT    &kp LCAPS   &none
   &none     &none    &none          &none       &none   &none           &bt BT_NXT    &bt BT_PRV    &bt BT_CLR    &bt BT_CLR_ALL       &none   &none
                                      &trans &trans   &kp SPACE            &kp RET   &trans    &trans
                        >;
                };

                game_layer {
                        bindings = <
        &trans    &kp Q         &kp W       &kp E      &kp R      &kp T        &kp Y  &kp U       &kp I      &kp O       &kp P          &trans
        &kp M      &kp A         &kp S       &kp D      &kp F      &kp G        &kp H  &kp J       &kp K      &kp L       &kp SEMI       &kp SQT
        &kp MINUS  &kp Z         &kp X       &kp C      &kp V      &kp B        &kp N  &kp M       &kp COMMA  &kp DOT     &kp FSLH       &kp EQUAL
                                              &trans &kp TAB &kp SPACE        &kp RET &kp BSPC &trans
                        >;
                };

                mouse_layer {
                        bindings = <
        &none    &none         &none       &none      &none      &none        &none  &none       &mmv MOVE_UP      &none       &none          &msc SCRL_UP
        &none      &none         &none       &none      &none      &none        &none &mmv MOVE_LEFT       &mmv MOVE_DOWN      &mmv MOVE_RIGHT       &msc SCRL_DOWN       &none
        &none  &none         &none       &none      &none      &none        &none  &none       &none  &none     &none       &none
                                              &none &none &none        &mkp RCLK &mkp LCLK &mkp MCLK
                        >;
                };
        };
};
